@import './layout';
@import './flexbox';



.content-header{
    @include flexbox(row,space-around, center, 100%, 200px);

    ul, li{
       display: flex;
       justify-content: center;
       margin-left: 32px;
       color:black;
       font-size: 20px;
       list-style: none;
    }
}

img{
    width: 170px;
    
}